.containerdivgrid,
.containersectionfeatures {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.containerdivgrid {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--spacing-32);
}
.containersectionfeatures {
  background-color: var(--texts-textprimary);
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-400) var(--spacing-200) var(--spacing-128);
  gap: var(--spacing-128);
  z-index: 7;
  text-align: left;
  font-size: var(--header-bold-h6-size);
  color: var(--surfaces-default-surfacetertiary);
  font-family: var(--text-regular-headline);
}
