.containerdivcards {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-61xl);
}
.imagecontrolactiveIcon,
.imagecontrolinactiveIcon {
  position: relative;
  border-radius: var(--br-7xs);
  width: 18px;
  height: 18px;
  object-fit: cover;
}
.imagecontrolinactiveIcon {
  border-radius: var(--br-10xs);
  width: 14.3px;
  height: 14.3px;
}
.containerdivcontrol {
  width: 640px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-16);
}
.containerdivslider {
  width: 934px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--spacing-32);
  z-index: 1;
}
.imagephoneIcon {
  position: absolute;
  margin: 0 !important;
  top: 392px;
  left: 200px;
  width: 389px;
  height: 914px;
  object-fit: cover;
  z-index: 2;
}
.containersectioncontext {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--spacing-128) var(--spacing-200);
  position: relative;
  gap: var(--spacing-128);
  background-image: url(/public/containersectioncontext@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 8;
}
