.textp {
  flex: 1;
  position: relative;
  line-height: 40px;
  display: inline-block;
  max-width: 800px;
}
.containerheader {
  width: 1520px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: var(--header-bold-h6-size);
  color: var(--surfaces-default-surfaceprimary);
  font-family: var(--text-regular-headline);
}
