.containersectiontestimonial {
  background-color: var(--texts-textprimary);
  width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--spacing-256) var(--spacing-200) var(--spacing-128);
  box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
  .containersectiontestimonial {
    padding-left: var(--spacing-256);
    padding-right: var(--spacing-256);
    box-sizing: border-box;
  }
}
